html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#mui-notifbar {
    z-index: 10000000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    padding: 0;
    background-color: #000;
}

#mui-softbuttons {
    z-index: 10000000000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: #000;
    vertical-align: middle;
}

#mui-softbuttons .container {
    height: 100%;
    width: 90%;
}

#mui-softbuttons button {
    border: none;
    background-color: #000;
}
#mui-softbuttons img {
    width: 40px;
    height: 40px;
}

#mui-notifbar .time {
    margin-right: 10px;
    color: #fff;
    height: 100%;
    float: right;
    text-align: right;
    font-size: 20px;
    margin-top: -1px;
}

#body {
    position: absolute;
    top: 25px;
    bottom: 40px;
    left: 0;
    right: 0;
    width: 100%;
}

#AppContainer {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 0;
    position: fixed;
    opacity: 0;
    left: 0;
    top: 30%;
    bottom: -30%;
    z-index: -10000000000000;
    transition: opacity 0.4s, top 0.2s, bottom 0.2s;
}

#AppContainer[active] {
    opacity: 100;
    z-index: 1;
    top: 25px;
    position: fixed;
    bottom: 40px;
    height: auto;
    transition: opacity 0.4s, top 0.2s, bottom 0.2s;
}

#AppContainer [splash-image] {
    margin: auto auto;
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    top: 25px;
    bottom: 40px;
}