<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" href="/css/bootstrap-cards.css" />
		<link rel="stylesheet" href="/css/bootstrap-mobile.css" />
		<link rel="stylesheet" href="/css/nanoscroller.css" />
		<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
		<link href="/css/Main.css" rel="stylesheet" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/jquery.nanoscroller.min.js"></script>
		<script src="/js/Material.Ripple.js"></script>
		<script src="/js/API.js"></script>
		<script src="/js/Components.js"></script>
		<script src="/js/OnscreenButtons.js"></script>
	</head>
	<body>
		<div id="mui-notifbar">
			<p class="time">0:00</p>
		</div>
		<div id="body">
			<%- body %>
		</div>
		<div id="mui-softbuttons">
			<div class="container center-block">
				<element id="mui-softbuttons-back" type="button" class="col-xs-4 align-middle">
					<img class="back" src="/res/system/nav_bottom/back.png">
				</element>
				<element id="mui-softbuttons-home" type="button" class="col-xs-4 align-middle" onclick="System.CloseApplication()">
					<img class="home" src="/res/system/nav_bottom/home.png">
				</element>
				<element id="mui-softbuttons-recent" type="button" class="col-xs-4 align-middle">
					<img class="recent" src="/res/system/nav_bottom/recent.png">
				</element>
			</div>
		</div>
		<div id="AppContainer"></div>
	</body>
</html>