div[appid="launcher"] {
    background: url('/res/theme/home/background.png');
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    padding-top: 20px;
}

div[appid="launcher"] .home-separator {
    position: absolute;
    bottom: 70px;
    left: 5%;
    width: 90%;
    border-top: solid 1px #fff;
    height: 1px;
}

div[appid='launcher'] .applist-bottom {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    height: 64px;
}

[app-icon]  {
    margin: 0 20px;
    width: 64px;
    height: 64px;
    display: inline-block;
}

[app-icon][labeled]:after {
    content: attr(label);
    font-size: 14px;
    width: 96px;
    color: #fff;
}

div[appgrid] {
    width: 100%;
}

div[appgrid] > [app-icon] {
    width: 19.3%;
    height: 20%;
    display: inline-block;
    margin: 0 0 40px 0;
}

div[appgrid] > [app-icon]:hover {
    text-decoration: none;
}

div[appgrid] > [app-icon] > img,
div[appgrid] > [app-icon] > image {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
}

div[appgrid] > [app-icon][labeled]:after,
div[appgrid] > [app-icon][labeled]:after {
    content: attr(label);
    width: 19.3%;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

div[appid='launcher'] .applist-bottom img {
    text-align: center;
}