<link rel="stylesheet" href="/css/views/Home.css" />
<div class="screen-home" appid="launcher" application fullscreen hide-nav="false">
	<div appgrid>
		<% for(var app in apps) {%>
		<a role="button" href="#/" app-executor app-icon labeled label="<%= apps[app].config.name %>" appid="<%= app %>">
			<image src="/app/<%= app %>/icon" width="64px" height="64px"></image>
		</a>
		<%}%>
	</div>
	<div class="home-separator"></div>
	<div class="applist-bottom" columned>
		<div column>
			<a role="button" href="#/" class="appicon">
				<image src="/apps/browser/icon.png" width="64px" height="64px"></image>
			</a>
		</div>
		<div column>
			<a role="button" href="#/" class="appicon">
				<image src="/res/theme/home/drawer.png" width="64px" height="64px"></image>
			</a>
		</div>
		<div column>
			<a role="button" href="#/" app-icon app="calendar">
				<image src="/apps/calendar/icon.png" width="64px" height="64px"></image>
			</a>
		</div>
	</div>
</div>